* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/*header*/
.header {
  background-color: #ab0534;
}

.navbar {
  width: 100%;
  height: 102px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.17);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.17);
  background-color: #ab0534;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-links__item {
  color: #f2f7ff;
  font-size: 16px;
  font-weight: 400;
}

.navbar-links__item:not(:last-child) {
  margin-right: 34px;
}

.LMSedu {
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
}

.register {
  color: #f2f7ff;
  font-size: 16px;
  font-weight: 400;
}

.main__content {
  display: block;
  text-align: center;
}

.main__content__text {
  color: #f4f8ff;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.93px;
}

.main__content__btn {
  max-width: 270px;
  height: 67px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: #ab0534;
  color: #f2f7ff;
  font-size: 16px;
  font-weight: 400;
  margin: 45px;
  border-radius: 10px;
}

h1 {
  margin-top: 80px;
  margin-bottom: 25px;
  color: #f4f8ff;
  font-size: 60px;
  font-weight: 700;
  line-height: 52.89px;
}

.main__img {
  text-align: center;
}

/* course categories */
.course-categories {
  padding: 100px;
  background-color: #f4f8ff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.course-content {
  display: block;
  text-align: center;
}

.line {
  color: #020202;
}

h2 {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 24px;
}

.Course__Categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Course__Categories__btn-course {
  background-color: #f4f8ff;
  width: 180px;
  height: 169px;
  text-align: center;
  margin: 40px;
}

.Course__Categories__img {
  margin-top: 45px;
}

/*Top Courses*/
.Top-Courses {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gray-text {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 26px;
}

.Top-Courses__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Top-Courses__content__btn-content {
  width: 168px;
  height: 49px;
  border: 1px solid #000000;
  color: #080808;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  background-color: #fff;
  border-radius: 10px;
}

.TopCourses__market__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.TopCourses__market__sell {
  width: 360px;
  height: 465px;
  -webkit-box-shadow: 0 1px 3px rgba(27, 23, 26, 0.2);
          box-shadow: 0 1px 3px rgba(27, 23, 26, 0.2);
  background-color: #ffffff;
  margin: 45px;
}

.sell-content {
  margin: 29px;
}

h3 {
  width: 293px;
  height: 38px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.97px;
  margin-left: 29px;
  margin-top: 29px;
}

.sell-text {
  margin-left: 29px;
}

.price {
  margin-bottom: 29px;
  margin-top: 29px;
  margin-left: 29px;
  color: #ab0534;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
  background-color: #fff;
}

/*3btns*/
.btns {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btns3-btn {
  min-width: 366px;
  height: 100px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 23.97px;
  background: url(/photo-N-icons/png/popularcourse.png);
  margin: 30px;
}

.btns1 {
  background-color: #c7166f;
}

.btns2 {
  background-color: #6c16c7;
}

.btns3 {
  background-color: #2516c7;
}

.btns-img {
  width: 366px;
  height: 100px;
}

.btns__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*achieve*/
.achieve {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
}

.achieve__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.achieve__block {
  width: 375px;
  height: 325px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  text-align: center;
  margin: 40px;
}

.achieve__img {
  margin-top: 30px;
}

/*feedback*/
.feedback {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
}

.feedback__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__block {
  width: 500px;
  margin: 100px;
}

.feedback__text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 60px;
}

.feedback__text-2 {
  color: #666666;
}

.feedback__text-3 {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.97px;
}

/*blog*/
.blog {
  background-color: #f7f9fa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
}

.blog__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*become*/
.become {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
  background: url(/photo-N-icons/png/become.png);
}

.become__content {
  text-align: center;
}

.become__btn {
  color: #fff;
  width: 200px;
  height: 67px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  background-color: #ab0534;
  margin-top: 30px;
  border-radius: 10px;
}

/* footer */
footer {
  padding: 100px;
  background-color: #292662;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*media*/
@media screen and (max-width: 1270px) {
  .social {
    padding-right: 50px;
  }
}

@media screen and (max-width: 810px) {
  footer {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */